/* hero */

// .hero {
//   background-color: #2f303a;
//   text-align: center;
//   padding-top: 200px;
//   padding-bottom: 200px;

//   &__overlay {
//     max-width: 1600px;
//     margin: 0 auto;
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../images/background-hero.jpeg);
//     background-size: cover;
//   }

//   &__title {
//     color: $white-color;
//     font-size: 44px;
//     line-height: 1.36;
//     font-weight: 900;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     margin-bottom: 30px;
//   }

//   &__button {
//     color: $white-color;
//     background-color: $accent-color;
//     border: none;
//     font-weight: 700;
//     font-size: 16px;
//     letter-spacing: 0.06em;
//     line-height: 1.87;
//     cursor: pointer;
//     font-family: inherit;
//     border-radius: 4px;
//     padding: 10px 32px;
//     transition-property: background-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .hero__button {
//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//   }
// }

@media screen and (max-width: 767px) {
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    &__overlay {
      margin: 0 auto;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-hero-mobile1x.jpeg);
      background-size: cover;
      background-position: center;
    }

    &__title {
      color: $white-color;
      font-size: 26px;
      line-height: 1.61;
      font-weight: 900;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &__button {
      color: $white-color;
      background-color: $accent-color;
      border: none;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.06em;
      line-height: 1.87;
      cursor: pointer;
      font-family: inherit;
      border-radius: 4px;
      padding: 10px 32px;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    padding: 40px;
    border-radius: 4px;
    z-index: 10;
    background-color: $white-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .is-hidden {
    .modal {
      transform: translate(-50%, -50%) scale(0.1);
    }
  }

  .backdrop {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 93px 15px 94px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .overlay-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: $accent-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: $primary-text-color;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close {
    fill: currentColor;
  }

  .overlay-button {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      &__overlay {
        background-image: url(../images/background-hero-mobile2x.jpeg);
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* hero */

  .hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    &__overlay {
      margin: 0 auto;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-hero.jpeg);
      background-size: cover;
      background-position: center;
    }

    &__title {
      color: $white-color;
      font-size: 26px;
      line-height: 1.61;
      font-weight: 900;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &__button {
      color: $white-color;
      background-color: $accent-color;
      border: none;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.06em;
      line-height: 1.87;
      cursor: pointer;
      font-family: inherit;
      border-radius: 4px;
      padding: 10px 32px;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .hero__button {
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    min-height: 609px;
    padding: 40px;
    border-radius: 4px;
    z-index: 10;
    background-color: $white-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .is-hidden {
    .modal {
      transform: translate(-50%, -50%) scale(0.1);
    }
  }

  .backdrop {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .overlay-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: $accent-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: $primary-text-color;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close {
    fill: currentColor;
  }

  .overlay-button {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      &__overlay {
        background-image: url(../images/tabletx2.jpeg);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-color: #2f303a;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

    &__overlay {
      max-width: 1600px;
      margin: 0 auto;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-hero.jpeg);
      background-size: cover;
      background-position: center;
    }

    &__title {
      color: $white-color;
      font-size: 44px;
      line-height: 1.36;
      font-weight: 900;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &__button {
      color: $white-color;
      background-color: $accent-color;
      border: none;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.06em;
      line-height: 1.87;
      cursor: pointer;
      font-family: inherit;
      border-radius: 4px;
      padding: 10px 32px;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .hero__button {
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }

  .backdrop {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 521px;
    padding: 40px;
    border-radius: 4px;
    z-index: 10;
    background-color: $white-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .is-hidden {
    .modal {
      transform: translate(-50%, -50%) scale(0.1);
    }
  }

  .overlay-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: $accent-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: $primary-text-color;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close {
    fill: currentColor;
  }

  .overlay-button {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      &__overlay {
        background-image: url(../images/tabletx2.jpeg);
      }
    }
  }
}
