$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$secondary-background-color: #f5f4fa;
$font-primary: roboto;
$font-secondary: raleway;
$font-fallback: sans-serif;
